.addedToCartModal {
  /* Modal styles */
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 40%;

  /* Text styles */
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;

  animation: fadeInOut 5s ease-in-out;
}

/*keyframes */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cartDD {
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: none;
  position: absolute;
  top: 9%;
  right: 1%;

  box-shadow: -9px 14px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: -9px 14px 5px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: -9px 14px 5px 0px rgba(0, 0, 0, 0.12);

  animation: fadeIn 0.3s ease-in;
}

.cartItemContainer {
  display: flex;
  border: 1px #e6e6e6 solid;
}

.cartItemImg {
  width: 30%;
}

.cartItemDets {
  width: 100%;
  padding: 10px;
  text-align: end;
}
