/* General styles for all screen sizes */
body {
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background 0.5s ease;
}

/* Cart Section */
.topbarContainer {
  width: 100%;
}

.topbar {
  width: 100%;
  margin-bottom: 20px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  margin-left: 20px;
  fill: aqua;
}

/* .cartWrapper {
  width: 100%;
  margin-bottom: 20px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
} */

.icon {
  width: 20px;
  cursor: pointer;
}

.cartIcon {
  width: 30px;
  cursor: pointer;
  margin-right: 30px;
}

.itemsInCart {
  background-color: rgb(138, 138, 138);
  border-radius: 50%;
  color: white;
  width: 20px;
  height: 20px;
  margin-top: -20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.incDecButton {
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 1em;
  /* border-radius: 20px; */
  cursor: pointer;
}

/* TopBar */

.container {
  width: 60%;
  margin: auto;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* .grid-item {
} */

.item-2 {
  background-color: #ffffff;
  max-width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-2 img {
  transition: transform 0.3s ease;
  border-radius: 10px;
  height: auto;
  width: 90%;
  cursor: pointer;
}

.item-2 img:hover {
  transform: scale(1.05);
}
.item-2Anim {
  animation: imgAnim 0.4s linear 0s 1 normal none;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

@keyframes imgAnim {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.item-3 {
  background-color: #ffffff;
}

/* 
.previewImg {
  width: 100%;
  border-radius: 10px;
} */
/* .productImg {
  width: 100%;
  border-radius: 10px;
  height: auto;
} */

/* .productImg:hover {
  web
} */

.itemDesc {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cartButton {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.5s ease;
  transition: color 0.5s ease;
  font-weight: bold;
}

.cartButtonDisabled {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  cursor: not-allowed;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 20px;
  transition: background 0.5s ease;
  transition: color 0.5s ease;
  font-weight: bold;
}

.item-3 {
  background-color: #ffffff;
}

.item3-inner {
  padding: 20px;
}

.variantContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.variantImgContainer {
  padding: 10px;
}

.variantImg {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* Video Section */

.videoSection {
  width: 100%;
  min-height: 70vh;

  background-color: #ffffff;
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
}

.videoWrapper {
  height: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.videoPlayer {
  width: 100%;
  height: 70vh;
}

/* Styles for medium-sized screens and above */
@media (max-width: 1200px) {
  .videoSection {
    width: 100%;
    min-height: 40vh;
    background-color: #ffffff;
    display: block;
    overflow: hidden;
  }

  .videoPlayer {
    width: 100%;
    max-height: 40vh;
  }

  .container {
    width: 80%;
  }

  .topbar {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: 0% 100%;
  }

  .item-2 {
    grid-column: span 2; /* Second grid spans two columns */
    width: 100%;
  }

  .item-2 img {
    margin-top: 20px;
  }

  .item-3 {
    grid-column: span 2; /* Third grid spans two columns */
    width: 100%;
  }
}

/* Styles for smaller screens (e.g., mobile devices) */
@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 100%; /* Make all columns occupy 100% of the screen width */
  }

  .item-2 {
    min-height: 30vh;
  }

  .grid-item {
    width: 100%;
    text-align: left; /* Adjust text alignment for readability on small screens */
  }
}
