/* General styles for all screen sizes */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(70deg, #ffffff 50%, #000000 50%);
   */
  background-color: #f8f8f8;
}

/* Cart Section */
.topbarContainer {
  width: 100%;
}

.topbar {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: flex-end;
}

.cartSection {
  width: 100%;
  justify-content: center;
  display: none;
}

.icon {
  width: 20px;
  margin-right: 5px;
}

.itemsInCart {
  background-color: white;
}

.incDecButton {
  width: 50px;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2em;
  padding: 10px;
  /* border-radius: 20px; */
  cursor: pointer;
}

/* TopBar */

.container {
  width: 60%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 50% 40%;
}

.grid-item {
  padding: 10px;
}

.item-1 {
  background-color: #ffffff;
}

.previewImg {
  width: 100%;
  border-radius: 10px;
}

.item-2 {
  background-color: white;
}

.productImg {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.cartButton {
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.2em;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.item-3 {
  background-color: #a0c1e7;
}

.variantContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.variantImgContainer {
  padding: 5px;
}

.variantImg {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* Styles for medium-sized screens and above */
@media (max-width: 1200px) {
  .container {
    width: 80%;
  }

  .topbar {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: 10% 90%; /* First grid 10%, second grid 90% */
  }

  .item-3 {
    grid-column: span 2; /* Third grid spans two columns */
    width: 100%;
  }
}

/* Styles for smaller screens (e.g., mobile devices) */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  .grid-container {
    grid-template-columns: 100%; /* Make all columns occupy 100% of the screen width */
    grid-gap: 5px; /* Adjust gap for smaller screens */
  }

  .grid-item {
    width: 100%;
    text-align: left; /* Adjust text alignment for readability on small screens */
  }

  .item-1 {
    display: none;
  }
}
