/* Modal container */
.modal {
  display: none;
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: auto;
  animation: fadeIn 0.3s ease-in;
}

/* Modal content */
.modal-content {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 800px;
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.fade-out {
  animation: fade-out 0.25s forwards;
}

/* Previous and Next buttons */
button {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* Image */
#modalImage {
  max-width: 100%;
  max-height: 100vh;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    display: none;
  }
}

.modalImageAnimRight {
  animation: right 0.4s ease 0s 1 normal none;
}

@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.modalImageAnimLeft {
  animation: left 0.4s ease 0s 1 normal none;
}

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Styles for a disabled button */
.disabledButton {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  border: none;
}
